# Eclipse project files
.settings
.classpath
.project
.metadata
.mymetadata
.springBeans
.gradle

# IntelliJ Idea project files
.idea
*.iml
*.ipr
*.iws
*.war
*.jar

#log files
*.log*
*.db

# Netbeans project files
nbproject

# Always ignore these directories/files
target
logs
bin
