<?xml version="1.0" encoding="UTF-8" ?>
<!--

    This project is a simple web forum. I created it just to
    demonstrate my programming skills to potential employers.

    Here is short description: ( for more detailed description please reade README.md or
    go to https://github.com/VladimirSharapov/SpringWebForum )

    Front-end: jsp, bootstrap, jquery
    Back-end: Spring, Hibernate
    DB: MySQL and H2(for testing) were used while developing, but the project is database independent.
        Though it must be a relational DB.
    Tools: git,maven,jenkins,nexus,liquibase.

    My LinkedIn profile: https://ru.linkedin.com/in/vladimir-sharapov-6075207

-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/logs/webforum.log"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="Encoding" value="UTF-8"/>
        <!--How many old log files to keep-->
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.EnhancedPatternLayout">
            <!--
            The username is set by MDC feature in a web filter. Therefore username is logged even in guts
            of Spring or Hibernate. More info on MDC: http://logback.qos.ch/manual/mdc.html
            -->
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} [%-5p][%-16.16t][%X{userName}][%30c] - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="fileAppender"/>
    </root>
</log4j:configuration>