@media (min-width: 980px) {
    body {
        padding-top: 50px; /*60px to make the container go all the way to the bottom of the topbar */
    }

    .nav-collapse.collapse {
        display: inline;
    }
}

.logo-text {
    font-family: 'Arial', cursive;
}


.logo-container {
    float: left;
    display: block;
    padding: 5px 12px 0px 0px;
    line-height: 1;
}

.forum-sections-header-actions {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.forum-sections-recent-unanswered {
    font-weight: bold;
    padding-left: 2px;
    color: rgb(85, 85, 85)
}

.forum-pagination {
    margin: 0px;
}

.forum-sections-branch-description-container {
    font-style: italic;
    font-size: 10px;
}

#topics-table .topics-posts {
    font-size: 11px;
}

.rss-icon {
    vertical-align: middle;
}

.forum-sections-stats-container {
    min-height: 10px;
    padding: 5px;
    margin: 0px;
    margin-bottom: 5px;
}

.forum-sections-header {
    margin: 0;
}

.forum-sections-userstats-container {
    min-height: 10px;
    padding: 5px;
    margin: 0px;
}

.table-title {
    border: 0px !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    padding-top: 10px !important;

    /* Use this styles instead of <h3> tag inside <th>. To fit HTML5 standard*/
    margin: 0;
    font-weight: bold;
    background-color: #444 !important;
    color: #444;
    text-rendering: optimizelegibility;
    line-height: 27px;
    font-size: 18px;
}

.table td {
    vertical-align: middle;
}

.table-with-titles td, .table-with-titles th {
    border: 1px solid #DDDDDD;
}


#topics-table {
    word-wrap: break-word;
}

#topics-table td {
    padding-top: 4px;
    padding-bottom: 6px;
}

#topics-table .branch-title {
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
}

#topics-table .title-col{
    word-break:break-all;
}

.h-nostyle {
    line-height: inherit;
    font-size: inherit;
    font-weight: inherit;
}


#branch-header {
    line-height: 3.2em;
    overflow: hidden;
}

#branch-header h2 {
    float: left;
}

#branch-header #right-block {
    float: right;
    overflow: hidden;
}

#branch-header #right-block a {
    font-weight: bold;
    padding-left: 2px;
    color: rgb(85, 85, 85);
}

.breadcrumb-link {
    font-weight: normal;
    font-size: 13px;
}

.post-content-body {
    overflow: auto;
    line-height: 16px;
    font-size: 13px;
    text-align: left;
    vertical-align: top;
}

.table .post-content-td {
    vertical-align: top;
    word-break: break-word;
}

.forum-logo {
    height: 31px;
    width: 34px;
}

.cursor-pointer {
    cursor: pointer !important;
}

ul.lang-menu li img {
    vertical-align: middle;
}

#lang-selector-toggle-li .tooltip {
    white-space: pre-wrap;
    max-width: 71px;
}

#lang-selector-toggle-li .tooltip .tooltip-inner {
    word-wrap: normal;
}

.topline-dropdown-menu {
    margin: 10px 0 2px 15px;
}


.form-login-related {
    max-width: 480px;
}


#login-form .form-actions {
    padding-left: 0px;
}

.control-group input[type=checkbox],
.control-group input[type=radio] {
    float: left;
    margin-right: 5px;
}


.help-inline._error {
    color: #b94a48;
}


#page-signin-submit-button {
    clear: left;
    width: 220px;
    height: 32px;
    font-size: 13px;
}
